name: CI

trigger: none

pool:
  name: ubuntu-latest

jobs:
  - job: ci
    displayName: CI
    steps:
      # Install uv
      - script: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
        displayName: Install uv

      # Install dev dependencies
      - script: |
          uv sync --group dev
        displayName: Install dev dependencies

      # Run formatting checks
      - script: |
          cd $(Build.Repository.Name)
          echo "Running ruff"
          uv run ruff check --output-format=github .
          echo "Running mypy"
          uv run mypy .
          echo "Running pydoclint"
          uv run pydoclint .
          echo "Running bandit"
          uv run bandit --configfile=pyproject.toml --severity-level=medium -r .
          echo "Running sqlfluff"
          uv run sqlfluff lint .
          echo "Formatting checks passed ✅"
        displayName: Run formatting checks

      # Build and validate package
      - script: |
          echo "Building package"
          uv build
          echo "Unpacking package"
          tar -xvzf dist/{{.package_name}}-*.tar.gz
          echo "Validating package"
          diff -r -x __pycache__ src {{.package_name}}-*/src
          echo "Package validated ✅"
        displayName: Build and validate package

      # Run unit tests
      - script: |
          cd $(Build.Repository.Name)
          uv run pytest -v tests --cov=src --cov-report=term
          echo "Unit tests passed ✅"
        displayName: Run unit tests
        env:
          PYTHONPATH: $(Build.SourcesDirectory)/src
