name: CI

pr:
  branches:
    include:
      - "*"

jobs:
  - job: ci
    displayName: CI
    strategy:
      matrix:
        ubuntu:
          imageName: ubuntu-latest
        macos:
          imageName: macos-latest
        windows:
          imageName: windows-latest
    pool:
      vmImage: $(imageName)
    steps:
      {{if (eq .package_manager "poetry")}}- task: UsePythonVersion@0
        inputs:
          versionSpec: {{if not (eq .python_only "yes")}}"3.11"{{else}}"3.12"{{end}}
        displayName: Setup Python
      - script: |
          python -m pip install --upgrade pip
          pip install poetry
        displayName: Install Poetry
      {{end}}
      {{if (eq .package_manager "uv")}}
      - script: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
        displayName: Install uv
      {{end}}
      - script: |
          {{if (eq .package_manager "uv")}}uv sync{{end}}{{if (eq .package_manager "poetry")}}poetry install --no-root{{end}}
        displayName: Install dependencies
      - script: |
          echo "Running ruff"
          uv run ruff check --output-format=github .
          echo "Running mypy"
          uv run mypy .
          echo "Running pydoclint"
          uv run pydoclint .
          echo "Running bandit"
          uv run bandit --configfile=pyproject.toml --severity-level=medium -r .
          echo "Running sqlfluff"
          uv run sqlfluff lint .
          echo "Formatting checks passed ✅"
        displayName: Run formatting checks
      - script: |
          {{if (eq .package_manager "uv")}}uv{{end}}{{if (eq .package_manager "poetry")}}poetry{{end}} run pytest -v tests
        displayName: Run unit tests
        env:
          PYTHONPATH: $(Build.SourcesDirectory)/src/{{.package_name}}
      # Running in a bash shell is necessary to use the `diff` on Windows
      - task: Bash@3
        inputs:
          targetType: inline
          script: |
            {{if (eq .package_manager "uv")}}uv{{end}}{{if (eq .package_manager "poetry")}}poetry{{end}} build
            tar -xvzf dist/{{.package_name}}-*.tar.gz
            diff -r -x __pycache__ src/{{.package_name}}/ {{.package_name}}-*/src/{{.package_name}}
        displayName: Build and validate package
