site_name: {{.package_name}} Documentation

nav:
  - Home: index.md
  - Development: development.md
  - Resources:
      - Jobs: jobs/index.md
      - Notebooks: notebooks/index.md
      - Modules: modules.md
      - Tests: tests/index.md
  - Release: release.md
  - Coding Standards: coding_standards.md

theme:
  # name: mkdocs
  # name: readthedocs
  name: material
