resources:
  jobs:
    example-pipeline-job:
      name: example-pipeline-job

      tasks:
        - task_key: pipeline-task
          pipeline_task:
            pipeline_id: ${resources.pipelines.example-pipeline.id}

  pipelines:
    example-pipeline:
      name: example-pipeline
      # catalog: main  # configure catalog in Unity Catalog
      schema: {{.package_name}}_${bundle.environment}
      libraries:
        - glob:
            include: ../notebooks/pipelines/**

      clusters:
       - label: default
         num_workers: 1
         node_type_id: {{if (eq .cloud_provider "azure")}}Standard_D4s_v3{{end}}{{if (eq .cloud_provider "aws")}}i3.xlarge{{end}}

      configuration:
        wheel_path: ${var.wheel_path}
        table: nyctaxi
        autoloader_path: dbfs:/databricks-datasets/nyctaxi-with-zipcodes/subsampled
        pipelines.clusterShutdown.delay: 20min

      continuous: false
      photon: false
      development: true

      channel: PREVIEW
