repos:
-   repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.9.0
    hooks:
    -   id: pre-commit-update
        stages: [pre-commit]
        args:
        -   --verbose
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.7
    hooks:
    -   id: commitizen
        stages: [commit-msg]
    -   id: commitizen-branch
        stages: [pre-push]
        args: [--rev-range, origin/main..HEAD]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        stages: [pre-commit]
    -   id: check-json
        stages: [pre-commit]
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    -   id: gitleaks
        stages: [pre-commit]
