# Preamble

This file only provides template directives; it is skipped for the actual output.

{{skip "__preamble"}}

{{$notVSCode := not (eq .include_vscode "yes")}}
{{$notDLT := not (eq .include_vscode "yes")}}


{{if $notVSCode}}
  {{skip "{{.project_name}}/.vscode"}}
{{end}}

# {{$notNotebook := not (eq .include_notebook "yes")}}
# {{$notPython := not (eq .include_python "yes")}}

# {{if $notPython}}
#   {{skip "{{.project_name}}/src/{{.project_name}}"}}
#   {{skip "{{.project_name}}/tests/main_test.py"}}
#   {{skip "{{.project_name}}/setup.py"}}
#   {{skip "{{.project_name}}/pytest.ini"}}
#   {{skip "{{.project_name}}/requirements-dev.txt"}}
# {{end}}

{{if $notDLT}}
  {{skip "{{.project_name}}/notebooks/dlt_ingest_dataset.py"}}
  {{skip "{{.project_name}}/resources/ingest_dataset_with_dlt.yml"}}
  {{skip "{{.project_name}}/fixtures/dlt_test_data.parquet"}}
{{else}}
  {{skip "{{.project_name}}/fixtures/.gitkeep"}}
{{end}}

# {{if $notNotebook}}
#   {{skip "{{.project_name}}/src/notebook.ipynb"}}
# {{end}}

# {{if (and $notDLT $notNotebook $notPython)}}
#   {{skip "{{.project_name}}/resources/{{.project_name}}.job.yml"}}
# {{else}}
#   {{skip "{{.project_name}}/resources/.gitkeep"}}
# {{end}}
