"""Main functions for the {{template "package_name" .}} package."""


def main() -> bool:
    """Entry point for the {{template "package_name" .}} package."""
    print("Wheel task is successfully completed.")
    return True


if __name__ == "__main__":  # pragma: no cover
    main()
