site_name: {{.project_name}}

nav:
  - Introduction: index.md
  - Getting Started: getting_started.md
  - Bundle Deployment: bundle_deployment.md
  - Coding Standards: coding_standards.md
  - Command Reference: commands.md

theme:
  name: material
