[project]
name = "{{.package_name}}"
version = "0.1.0"
description = "{{.project_description}}"
authors = [
    { name = "{{.author}}", email = "{{.email}}" },
]
readme = "README.md"
requires-python = ">=3.11,<4.0"
scripts = { "main" = "{{.package_name}}.main:main" }
classifiers = ["Programming Language :: Python :: 3.11", "Operating System :: OS Independent"]
dependencies = []

[dependency-groups]
dev = [
    "databricks-connect==15.4.*",
    "databricks-dlt>=0.3.0",
    "databricks-sdk>=0.45.0",
    "ipykernel>=6.29.5",
    "jupyter>=1.1.1",
    "mypy>=1.15.0",
    "pip>=25.1.1",
    "pre-commit>=4.1.0",
    "pydoclint>=0.6.6",
    "pytest-cov>=6.0.0",
    "pytest-mock>=3.14.0",
    "pytest>=8.3.5",
    "ruff>=0.11.9",
]

[tool.uv]
package = true

[tool.ruff]
target-version = "py311"
line-length = 100
extend-include = ["*.ipynb"]
extend-exclude = ["scratch"]
builtins = ["dbutils", "display", "spark"]

[tool.ruff.lint]
pydocstyle.convention = "numpy"
external = ["DOC"]
select = ["ALL"]
ignore = [
    # RevoData's standard exceptions
    "COM812",   # "Checks for the absence of trailing commas" - redundant when used in tandem with the formatter
    "D203",     # "One blank line required before class docstring" - should be disabled by default
    "D213",     # "Multi-line docstring summary should start at the second line" - should be disabled by default
    "E501",     # "Line too long"
    "ERA001",   # "Found commented out code"
    "FBT001",   # "Boolean positional arg in function definition"
    "FBT002",   # "Boolean default value in function definition"
    "FBT003",   # "Boolean positional value in function call"
    "ISC001",   # "Implicit string concatenation" - conflicts with the formatter
    "N812",     # "Lowercase `functions` imported as non-lowercase"
    "T201",     # "`print` found"
    # RevoData's nitpicky exceptions - comment out when productionalizing your code
    "BLE001",   # "Do not catch blind exception: `Exception`"
    "D100",     # "Missing docstring in public module"
    "D104",     # "Missing docstring in public package"
    "D105",     # "Missing docstring in magic method"
    "D106",     # "Missing docstring in public nested class"
    "D107",     # "Missing docstring in __init__"
    "D400",     # "First line should end with a period"
    "D401",     # "First line of docstring should be in imperative mood"
    "PD901",    # "Avoid using the generic variable name `df` for DataFrames"
    "PLR2004",  # "Magic value used in comparison, consider replacing with a constant variable"
    "TRY003"    # "Avoid specifying long messages outside the exception class"
]

[tool.ruff.lint.per-file-ignores]
"notebooks/**/*.py" = [
    "D100",     # "Missing docstring in public module" - not needed for Databricks notebooks
    "INP001",   # "Part of an implicit namespace package. Add an `__init__.py`" - not needed for Databricks notebooks
]
"tests/*.py" = [
    "PLR2004",  # "Magic value used in comparison, consider replacing with a constant variable"
    "S101",     # "Use of `assert` detected"
]

[tool.mypy]
packages = ["src"]
mypy_path = "src"
python_version = "3.11"
strict = true
disallow_untyped_decorators = false
exclude = "scratch"

[[tool.mypy.overrides]]
module = "dlt"
ignore_missing_imports = true

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["src"]

[tool.pydoclint]
style = "numpy"
exclude = ".git|.venv|scratch"
