name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - .github/workflows/**
      - src/**/**
      - tests/**
      - pyproject.toml

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          # macos-latest,   # Python 3.10.12 with architecture 'arm64' was not found for macOS 14.5.
          # windows-latest  # Python 3.10.12 is unfortunately not available for the Windows VM
        ]
    defaults:x
      run:
        shell: bash
    runs-on: ${{ "{{" }} matrix.os {{ "}}" }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Read Python version from .python-versio file
        id: read_python_version
        run: echo "python-version=$(cat .python-version)" >> $GITHUB_ENV
      - name: Setup Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: ${{ "{{" }} env.python-version {{ "}}" }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: |
          poetry install --no-root
      - name: Run formatting checks
        run: |
          poetry run ruff check --output-format=github .
          poetry run mypy .
      - name: Build and check package
        run: |
          poetry build
          tar -xvzf dist/{{.package_name}}-*.tar.gz
          diff -r -x __pycache__ src/{{.package_name}} {{.package_name}}-*/src/{{.package_name}}
      - name: Run unit tests with coverage report
        run: |
          poetry run pytest -v tests --cov=src tests --cov-report term
        env:
          PYTHONPATH: ${{ "{{" }} github.workspace {{ "}}" }}/src/{{.package_name}}
