name: unit_tests

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - ".github/workflows/unit_test.yml"
      - "src/{{.package_name}}/**"
      - "resources/**"
      - "tests/**"
      - "pyproject.toml"

jobs:
  unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false
      - name: Export dependencies, strip python_full_version, and install dependencies
        run: |
          poetry export -f requirements.txt --without-hashes --with test --output test-requirements.txt
          sed 's/ *;.*//' test-requirements.txt > test-requirements-stripped.txt
          python -m pip install --upgrade pip
          python -m pip install -r test-requirements-stripped.txt
      - name: Run unit tests
        run: |
          pytest -v tests
        env:
          PYTHONPATH: $${{ "{{" }} github.workspace {{ "}}" }}/src/{{.package_name}}