site_name: {{.project_name}}

nav:
  - Introduction: index.md
  - Getting Started: getting_started.md
  - Bundle Deployment: bundle_deployment.md
  - Databricks Connect: databricks_connect.md
  - Coding Standards: coding_standards.md

theme:
  name: material
