version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/python/helpers"
    schedule:
      interval: "weekly"
    groups:
      common:
        patterns:
          - pip
          - cython
          - flake8
      poetry:
        patterns:
          - poetry
          - hashin
