"""Main functions for the {{.package_name}} package."""


def main() -> None:  # pragma: no cover
    """Entry point for the {{.package_name}} package."""
    print("Hello, RevoData! \nWheel task is successfully completed.")


if __name__ == "__main__":  # pragma: no cover
    main()
