[![ci](https://github.com/revodatanl/{{.package_name}}/actions/workflows/ci.yml/badge.svg)](https://github.com/revodatanl/{{.package_name}}/actions/workflows/ci.yml)
[![semantic-release](https://github.com/revodatanl/{{.package_name}}/actions/workflows/semantic-release.yml/badge.svg)](https://github.com/revodatanl/{{.package_name}}/actions/workflows/semantic-release.yml)

<!-- also add this to the docs - index.md -->
