{
  "name": "{{.project_name}}",
  "dockerComposeFile": "docker-compose.yml",
  "workspaceFolder": "/workspace",
  "service": "databricks_container",
  "remoteUser": "root",
  "forwardPorts": [3000],
  "mounts": [
    "source=my-project-uv-cache,target=/uv-cache,type=volume"
  ],
  "customizations": {
    "vscode": {
      "extensions": [
        "charliermarsh.ruff",
        "databricks.databricks",
        "ms-python.mypy-type-checker",
        "ms-python.vscode-pylance",
        "ms-toolsai.jupyter",
        "ms-vscode.makefile-tools",
        "njpwerner.autodocstring",
        "redhat.vscode-yaml",
        "tamasfe.even-better-toml",
        "vscode-icons-team.vscode-icons"
      ]
    },
    "settings": {
      "python.defaultInterpreterPath": "./.venv/bin/python",
      "python.terminal.activateEnvInCurrentTerminal": true,
      "python.terminal.activateEnvironment": true,
      "terminal.integrated.defaultProfile.linux": "zsh"
    }
  },
  "postCreateCommand": "make build"
}
