# Bundle Deployment

[Databricks Asset Bundles](https://docs.databricks.com/aws/en/dev-tools/bundles/) are a tool to facilitate the adoption of software engineering best practices, including source control, code review, testing, and continuous integration and delivery (CI/CD), for your data and AI projects. Bundles provide a way to include metadata alongside your project's source files and make it possible to describe Databricks resources such as jobs and pipelines as source files. Ultimately a bundle is an end-to-end definition of a project, including how the project should be structured, tested, and deployed. This makes it easier to collaborate on projects during active development.

Your bundle project's collection of source files and metadata is deployed as a single bundle to your target environment. A bundle includes the following parts:

- Required cloud infrastructure and workspace configurations
- Source files, such as notebooks and Python files, that include the business logic
- Definitions and settings for Databricks resources, such as Databricks jobs, DLT pipelines, Model Serving endpoints, MLflow Experiments, and MLflow registered models
- Unit tests and integration tests

The following diagram provides a high-level view of a development and CI/CD pipeline with bundles:

![bundle-deployment](images/bundles-cicd.png)

## Deployment Workflow

Developers make local deployments to the `dev` environment before merging to the `main` branch. A dedicated CI/CD pipeline will deploy the bundle to the `test` (or `staging`) environment. After the bundle has been successfully deployed to the `test` environment, the bundle will automatically be deployed to the `prd` environment.

### Deploying the Databricks Asset Bundle to `dev`

To deploy bundle resources to the (default) `dev` environment from your local machine, run the following command:

```bash
make deploy
```

![make-deploy](images/make-deploy.png)

### Destroying the Databricks Asset Bundle

To destroy bundle resources from the `dev` environment, run the following command:

```bash
make destroy
```

![make-destroy](images/make-destroy.png)

### Deploying the Databricks Asset Bundle to `test` and `prd`

Deploying the bundle to `test` and `prd` is handled by a dedicated CI/CD pipeline called `deploy-dab`. For more information, see [deploy-dab]{{if (eq .git_client "azure")}}(../.azuredevops/.azure-pipelines/deploy-dab.yml){{end}}{{if (eq .git_client "github")}}(../.github/workflows/deploy-dab.yml){{end}}.
