# The main pipeline for {{.package_name}}
resources:
  pipelines:
    {{.package_name}}_pipeline:
      name: {{.package_name}}_pipeline
      target: {{.package_name}}_${bundle.environment}
      libraries:
        - notebook:
            path: ../src/dlt_pipeline.ipynb

      configuration:
        bundle.sourcePath: /Workspace/${workspace.file_path}/src
