name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dev dependencies
        run: uv sync --group dev

      - name: Run formatting checks
        run: |
          echo "Running ruff"
          uv run ruff check --output-format=github .
          echo "Running mypy"
          uv run mypy .
          echo "Running pydoclint"
          uv run pydoclint .
          echo "Running bandit"
          uv run bandit --configfile=pyproject.toml --severity-level=medium -r .
          echo "Running sqlfluff"
          uv run sqlfluff lint .
          echo "Formatting checks passed ✅"

      - name: Build and validate package
        run: |
          echo "Building package"
          uv build
          echo "Unpacking package"
          tar -xvzf dist/{{.package_name}}-*.tar.gz
          echo "Validating package"
          diff -r -x __pycache__ src {{.package_name}}-*/src
          echo "Package validated ✅"

      - name: Run unit tests
        run: |
          uv run pytest -v tests --cov=src/{{.package_name}} --cov-report=term
          echo "Unit tests passed ✅"
        env:
          PYTHONPATH: ${{ github.workspace }}/src
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
