name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install Pre-commit
        run: pip install pre-commit
      - name: Pre-commit install
        run: pre-commit install
      - name: Pre-commit run
        run: pre-commit run --all-files

  test:
    name: Test Python 3.11
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync

      - name: Build package
        run: uv build

      - name: Run tests
        run: uv run pytest -v tests --cov=src --cov-report term
