targets:

  # The 'dev' target, for development purposes. This target is the default.
  dev:
    # We use 'mode: development' to indicate this is a personal development copy:
    # - Deployed resources get prefixed with '[dev my_user_name]'
    # - Any job schedules and triggers are paused by default
    # - The 'development' mode is used for pipelines
    mode: development
    default: true
    workspace:
      host: {{workspace_host}}  # auto-detected from the DEFAULT profile

  # The 'test' target, used for testing deployment.
  test:
    # We use 'mode: production' to mimic behavior of production deployment.
    mode: production
    workspace:
      root_path: /Shared/{{.project_name}}/

  # The 'prod' target, used for production deployment.
  prod:
    # We use 'mode: production' to indicate this is a production deployment.
    mode: production
    workspace:
      root_path: /Shared/{{.project_name}}/
